@{
    ViewBag.Title = "Подтверждение email";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Спасибо что подтвердили Ваш email. Пожалуйста @Html.ActionLink("Нажмите для входа", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
