
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<title>О нас</title>

<h2>О нас</h2>
<div>
    <hr />
    Разработано Жураковским Юрием в рамках дипломного проектирования
    в Компьютерной Академии ШАГ под руководством Комарова Ивана.
</div>
