@model CleanAndRepair.Models.Service
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="col-md-offset-2">Заказ услуги</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayFor(m => m.Name)
        </dt>
        <dd>
            Описание услуги с фотографиями
        </dd>
        <dd><hr /></dd>
    </dl>
</div>
<h4 class="col-md-offset-1">Введите параметры помещения</h4>
<hr />
@{Html.RenderAction("PartCalcParametres");}
<div class="col-md-offset-1">
    @Html.ActionLink("Вернуться на главную", "Index")
</div>
