@model CleanAndRepair.Models.Entities.Service

@{
    ViewBag.Title = "BookService";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Заказ услуги</h2>

<div>
    <h4>Услуга</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Заказать услугу", "Book", new { id = Model.Id }) |
    @Html.ActionLink("Вернуться на главную", "Index")
</p>
