
@{
    ViewBag.Title = "Contacts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<title>Контакты</title>

<h2>Контакты</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Разработчик:
        </dt>
        <dd>
            Жураковский Юрий Владимирович
        </dd>
        <dt>
            Телефон:
        </dt>
        <dd>
            +375 29 7387425
        </dd>
    </dl>
</div>
