@model IEnumerable<DAL.Entities.GroupService>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Список сервисов</title>
</head>
<body>
    <h3>Категории услуг</h3>
    <div>
        <ul>
            @foreach (var g in Model)
            {
            <li>@g.Name</li>
            }
        </ul>
    </div>
</body>
</html>

