@model IEnumerable<CleanAndRepair.Models.GroupService>
    <div class="navbar col-md-4">
        <ul class="nav nav-pills nav-stacked">
            @foreach (var g in Model)
            {
                if (g.Name != null)
                {
                <li>@Ajax.ActionLink(g.Name, "ShowServices", new { id = g.Id }, new AjaxOptions { UpdateTargetId = "groupservice" })</li>
                }
            }
        </ul>
    </div>
    <br />
    <div class="col-md-8 navbar" id="groupservice"></div>


