
@model IEnumerable<DAL.Entities.Service>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Список услуг</title>
</head>
<body>
    <h3>Категории услуг</h3>
    <div>
        <ul>
            @foreach (var s in Model)
            {
                <li>@s.Name</li>
            }
        </ul>
    </div>
    <div>
        @Html.ActionLink("Назад","Index")
    </div>
</body>
</html>

