@model IEnumerable<CleanAndRepair.Models.Entities.Service>
    <ul class="nav nav-pills nav-stacked">
        @foreach (var s in Model)
        {
        <li>@Html.ActionLink(s.Name, "Index", "Home")</li>
        }
    </ul>

