@model IEnumerable<CleanAndRepair.Models.Service>
<table class="table table-bordered table-hover">
    @foreach (var s in Model)
    {
        <tr>
            <td class="col-md-4">
                @Html.ActionLink(s.Name, "BookService", new { id = s.Id })
            </td>
        </tr>
    }
</table>
